.footer-text {
   margin-bottom:0px; 
}
.error {
    color: red;
}

.errorList {
    list-style-type: none;
    color: red;
    padding-right: 2rem;
}

td, th {
    vertical-align: middle;
    text-align: center;
}

/*Check after cache reload*/
.requireStar {
    color: red;
}

.modifiedEmail:invalid {
    background-color: rgba(245, 0, 0, 0.4);
}

.modifiedEmail:valid {
    background-color: rgba(0, 245, 0, 0.4);
}

body {
    font-family: 'Quicksand', sans-serif;
}

input, select, textarea {
    width: 20%;
}

img {
    width: 20%;
}

.petImage {
    width: 70%;
}

#deleteButton {
    width: auto;
}

#indexButtons {
    width: 20%;
    margin: auto;
    padding: 0%;
    list-style: none;
}
#indexButtons li {
    margin-bottom: 2%;
}
@media screen AND (max-width:600px) {
    input,select,textarea  {
        width: 80%;
    }
    #deleteButton {
        width: auto;
    }
    
}

@media screen AND (max-width:1000px) {
    .petImage {
        width: 100%;
    }
}

.small-container {
    max-width: 600px;
    margin:auto;
}